#picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    .menuDeroulant {
        .mySelect {
            width: 25rem;
            height: fit-content;
            border: none;
            background-color: transparent;
            border-radius: 5px;
            font-size: 1.2rem;
            color: beige;
            line-height: 1rem;
            cursor: pointer;
            list-style-type: none;
            
            .myOption {
                display: none;
                &:first-child {
                    display: block;
                  }
                text-align: center;
                padding: 1rem;
                width: 25rem;
                height: 3rem;
                color: beige;
                font-size: 1.2rem;
                border-radius: 0;
                cursor: pointer;
                background-color: rgba(54, 44, 44, 0.616);
            }
        
            .myOption:hover {
                color: #fedd58;
            }
        }
        &:hover .myOption {
            display: block;
        }
    }
    @media (max-width: 768px) {
        .menuDeroulant {
            .mySelect {
                .myOption {
                    width: 95%;
                    margin-left: auto;
                    margin-right: auto; 
                }
            }
        }
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        img {
            opacity: 0;
            width: 30%;
            animation: fadeIn 1s ease-in-out forwards;;
        }
        $img-children: 14;
        @for $i from 1 through $img-children {
            img:nth-child(#{$i}) {
                animation: fadeIn 0.5s ease-in #{0.3s + ($i - 1) * 0.3s} forwards;
            }
        }
        @keyframes fadeIn {
            to {
            opacity: 1;
            }
        }
    }
    @media (max-width: 768px) {
        .gallery {
            img {
                width: 95%;
            }
        }
    }
}