#text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fedd58;
    margin: 1rem;
    font-size: 1.5rem;
    animation-name: border-anim;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
   .wrapper {
      padding : 0.5rem;
      .letter {
        transition: ease-out 1s;
        transform: translateY(40%);
        text-transform: uppercase;
      }
      .shadow {
        transform: scale(1, -1);
        color: #9999992c;
        transition: ease-in 5s, ease-out 5s;
        text-transform: uppercase;
      }
      &:hover {
        .letter {
          transform: translateY(-150%);
        }
        .shadow {
          opacity: 0;
          transform: translateY(150%);
        }
      }
    }
  }

  @keyframes border-anim {
    from {
      clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%); 
      }
    to {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); 
    }
  }

  @media screen and (max-width: 1200px) {
    .text {
      display: flex;
      flex-wrap: wrap;
      width: 95%;
      font-size: 1.5rem;
      margin: auto;
      .wrapper {
        padding: 0.2rem;
      }
    }
  }
  @media screen and (max-width: 700px) {
    .text {
      display: flex;
      flex-wrap: wrap;
      width: 95%;
      font-size: 1rem;
      margin: auto;
      .wrapper {
        padding: 0.2rem;
      }
    }
  }