#dramas {
   .grid {
        width: 85%;
        margin: auto;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
   }
   .fond {
        position: fixed;
        top:0;
        bottom:-100%;
        background-image: url(../src/assets/images/background.jpg);
        background-size:cover;
        overflow:hidden;
        z-index: 999;
        .box {
            position: relative;
            top: 0;
            left: 0;
            max-width: 100%;
            max-height: 95vh;
            overflow: hidden;
            padding: 1rem;
            button {
                position: absolute;
                top: 25px;
                right: 25px;
                cursor: pointer;
                background: transparent;
                border: transparent;
                animation-name: reveal;
                animation-duration: 5s;
                animation-timing-function: ease-out;
            }
            @keyframes reveal {
                0% {
                    opacity:0;
                }
                100% {
                    opacity:1;
                }
            }
            .imgFond {
                width: 100%;
                animation-name: dramasSlideInFromLeft;
                animation-duration: 1.5s;
                animation-timing-function: ease-out;
            }
        
            h2 {
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                padding-bottom: 2rem;
                color: #fedd58;
                font-size: 2rem;
                animation-name: dramasSlideInFromLeft;
                animation-duration: 1.5s;
                animation-timing-function: ease-out;
            }

            @keyframes dramasSlideInFromLeft {
                0% {
                    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
                }
                100% {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }

            .content {
                background-color: beige;
                position: fixed;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                width: 80%;
                height: 25rem;
                animation-name: dramasSlideInFromBottom; 
                animation-duration: 1.5s; 
                animation-timing-function: ease-out; 
                animation-fill-mode: forwards; 
                @keyframes dramasSlideInFromBottom {
                    from {
                    transform: translateY(100%) translateX(-50%); 
                    }
                    to {
                    transform: translateY() translateX();
                    }
                }
                h3 {
                    font-size: 22px;
                    color:rgb(0, 0, 0);
                    padding: 2rem;
                    padding-bottom: 1rem;
                    text-align: start;
                }
                p {
                    font-size: 18px;
                    color: black;
                    text-align: start;
                    padding: 2rem;
                    padding-top: 0;
                }
            }
        
        }
   }
}