#dramas {
   .grid {
        width: 95%;
        margin: auto;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
   }
   .fond {
        position: fixed;
        top:0;
        bottom:-100%;
        z-index: 999;
        .box {
            position: relative;
            top: 0;
            left: 0;
            // background-image: url(../../assets/images/background.jpg);
            // padding: 1rem;
            button {
                position: absolute;
                top: 30px;
                right: 30px;
                cursor: pointer;
                background: transparent;
                border: transparent;
                opacity:0;
                animation-name: reveal;
                animation-delay: 1s;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;
                img {
                    width: 30px;
                }
            }
            @keyframes reveal {
                0% {
                    opacity:0;
                }
                100% {
                    opacity:1;
                }
            }
            .imgFond {
                width: 100%;
                height: 40%;
                animation-name: dramasSlideInFromLeft;
                animation-duration: 1s;
                animation-timing-function: ease-out;
            }

            @keyframes dramasSlideInFromLeft {
                0% {
                    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
                }
                100% {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }

            .content {
                background-image: url(../../assets/images/parchemin.jpg);
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                width: 80%;
                height: 80%;
                border-radius: 5px;
                animation-name: dramasSlideInFromBottom; 
                animation-duration: 1s; 
                animation-timing-function: ease-out; 
                animation-fill-mode: forwards; 
                @keyframes dramasSlideInFromBottom {
                    from {
                    transform: translateY(100%) translateX(-50%); 
                    }
                    to {
                    transform: translateY() translateX();
                    }
                }
                h2 {
                    color:rgb(63, 60, 60);
                    font-size: 2rem;
                    padding-top: 2rem;
                }
                .lottie {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                h3 {
                    font-size: 22px;
                    color:rgb(63, 60, 60);
                    padding: 1rem;
                    text-align: start;
                    
                }
                p {
                    font-size: 18px;
                    color: rgb(63, 60, 60);
                    text-align: start;
                    padding: 1rem;
                }
            }
        }
    }
    .closing {
        .box {
            animation-name: goToTheBottom;
            animation-duration: 0.8s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards; 
        }
        @keyframes goToTheBottom {
            0% {
            transform: translateY(0);
            }

            100% {
            transform: translateY(100%);
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    #dramas {
        .fond {
            background-image: url(../../assets/images/background.jpg);
        .box {      
            h2 {
                font-size: 1.5rem;
                top:40%;
            }
            .content {
                top:65%;
                width: 85%;
                h3 {
                    font-size: 17px;
                    padding: 1rem;
                    padding-bottom: 1rem;
                    text-align: start;
                }
                p {
                    font-size: 13px;
                    padding: 1rem;
                    padding-top: 0;
                    text-align: start;
                }
            }
        }
    }
        .closing {
            .box {
                animation:none;
            }
        }
    }
}
