#festival {
  .festival {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    width: 80%;
    margin: auto;
    .infos_festival {
      background-color: #261200b7;
      border-radius: 5px;
      padding: 1rem;
      height: min-content;
      font-size: 18px;
      #italic {
        font-family: "arial";
        font-style: italic;
        color: #fedd58;
      }
      #bold {
        font-family: "arial";
        font-weight: 700;
        color: #fedd58;
      }
      .bouton {
        width: 30%;
        height: "auto";
        border: "none";
        border-radius: "5px";
      }
      a {
        text-decoration: none;
      }
    }
    img {
      width: 45%;
      border-radius: 3px;
    }
  }
}

@media screen and (max-width: 1000px) {
  #festival {
    .festival {
      display: flex;
      flex-direction: column;
      width: 95%;
      .infos_festival {
        .bouton {
            width: 70%;
          }
      }
      img {
        width: 100%;
        border-radius: 3px;
      }
    }
  }
}
