h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.timeline {
	position: relative;
	max-width: 960px;
	margin: 2rem auto;
}
.timeline::after {
	content: "";
	position: absolute;
	width: 3px;
	background: yellow;
	top: 0;
	bottom: 0;
	left: 50%;
}
.container {
	padding: 10px 40px;
	position: relative;
	background-color: #242424;
	width: 50%;
	.content {
		padding: 20px 30px;
		border:1px solid yellow;
		position: relative;
		border-radius: 8px;
		h2 {
			font-weight: 700;
			font-size: 22px;
			margin-bottom: 16px;
		}
	}
}
.container::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: yellow;
	border: solid 2px yellow;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}
.left {
	left: 0%;
}
.right {
	left: 50%;
}
.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid yellow;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent yellow;
}
.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid yellow;
	border-width: 10px 10px 10px 0;
	border-color: transparent yellow transparent transparent;
}
.right::after {
	left: -12px;
}

@media screen and (max-width: 600px) {
	.timeline::after {
		left: 31px;
	}
	.container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}
	.container::before {
		left: 60px;
		border: medium solid var(--white);
		border-width: 10px 10px 10px 0;
		border-color: transparent var(--white) transparent transparent;
	}
	.left::after,
	.right::after {
		left: 15px;
	}
	.right {
		left: 0%;
	}
}
