#home {
.slider {
    height: 36vw;
    width: 85vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    background-image: url("../../assets/photos/moliere/IMG_1625.jpg");
    background-size:cover;
    border-radius: 5px;
    animation: myAnimation alternate infinite 15s;
  }
  @keyframes myAnimation {
    33.33% {
      background-image: url("../../assets/photos/marivaux/JAC_2280.jpg");
    }
    66.66% {
      background-image: url("../../assets/photos/ionesco/DSC_9227.jpg");
    }
    99.99% {
      background-image: url("../../assets/photos/brecht/JAC_3512_2.jpg");
    }
  }
}