$press-children: 14;

#press {
    opacity: 0;  
    .titleDrama {
        margin-bottom: 2rem;
        .arrow {
            color:#fedd58;
            margin-left: 1rem;
            cursor: pointer;
        }
    }
    .articlePress {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        margin-bottom: 2rem;
        .imagePress {
            opacity: 0;
            animation: fadeInPress 0.5s ease-in-out forwards;
            width: 40rem;
        }

    }

    @media screen and (max-width: 650px) {
        .articlePress {
            align-items: center;
            .imagePress {
                width: 100%;
            }
        } 
    }
}
    

@for $i from 1 through $press-children {
    #press:nth-child(#{$i}) {
        animation: fadeInPress 0.5s ease-in #{($i - 1) * 0.3s} both;
    }
}

@keyframes fadeInPress {
    to {
      opacity: 1;
    }
}
