#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation-name: border-anim;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  margin:1rem;
  .header {
    display: flex;
    align-items: center;
    .logo {
      &:hover {
        filter: brightness(100%) drop-shadow(0 0 0.1rem yellow);
      }
    }
    .burger {
      background-color: transparent;
      border: none;
    }
  }
  nav {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      gap:3rem;
      li {
        a {
          color: beige;
          font-size:18px;
          text-decoration:none;
          text-transform: uppercase;
          position:relative;
          transition: all 0.5s ease-in-out;
          &::before {
          content: attr(data-item);
          transition: 0.5s;
          color: #fedd58;
          position: absolute;
          width: 0;
          overflow: hidden;
         }
          &:hover {
            &::before {
              width: 100%;
              transition: all 0.5s ease-in-out;
            }
          }
        }
      }
    }
  }
  #HeadDecoration {
    position: absolute;
    margin-top: 13rem;
    left:0px;
    width: 100%;
    height: 3px;
    animation-name: border-anim;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    background: linear-gradient(
      270deg,
      rgba(233, 68, 68, 0) 12.24%,
      yellow 49.95%,
      rgba(233, 68, 68, 0) 90.93%
     );
        
    @media screen and (min-width: 1020px) {
      margin-bottom: 3.5rem;
    }
  }
}

@keyframes border-anim {
  from {
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%); 
    }
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); 
  }
}
  
@media (max-width: 768px) {
  #header {
    display: block;
    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      gap:3rem;
      .burger {
        padding: 0;
        width: 30px;
        height: 30px;
        :hover {
          cursor: pointer;
        }
        .burger-bar,
        .burger-bar::before,
        .burger-bar::after {
          display: block;
          width: 30px;
          height: 3px;
          position: relative;
          border-radius: 3px;
          background-color: yellow;
          transition: all 0.5s ease-in-out;
        }
        .burger-bar::before,
        .burger-bar::after {
          content: "";
          position: absolute;
          left: 0;
        }
        .burger-bar::before {
          transform: translateY(-12px);
        }
        
        .burger-bar::after {
          transform: translateY(12px);
        }
        
        .burger-bar-checked,
        .burger-bar-checked::before,
        .burger-bar-checked::after {
          display: block;
          width: 30px;
          height: 3px;
          position: relative;
          border-radius: 3px;
          background-color: yellow;
          transition: all 0.5s ease-in-out;
        }
        .burger-bar-checked::before,
        .burger-bar-checked::after {
          content: "";
          position: absolute;
          left: 0;
        }
        .burger-bar-checked {
          width: 0;
          background-color: transparent;
        }
        .burger-bar-checked::before {
          transform: rotate(45deg);
        }
        .burger-bar-checked::after {
          transform: rotate(-45deg);
        }
      }
    }
    nav {
      margin-top: 2rem;
      height: 0;
      transition: all 1s ease-in-out;
      ul {
        background-color: rgb(49, 52, 52);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        transition: all 1s ease-in-out;
        li {
          a {
            color:#fedd58;
           }
           a:active {
            background-color: #fedd58;
            color: #fff;
          }
        }
      }
      .show-nav {
        visibility: visible;
      }
    }
    .heightNav {
      height: 18rem;
      transition: all 1s ease-in-out;
    }
    #HeadDecoration {
      position: relative;
      margin-top: 0;
    }
  }
}